<ion-content>
  <div style="padding: 1rem" class="display-flex align-items-center height-100prcnt netflix-backgroundImg">
    <div class="container-sm">

      <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text login-input-side-badges" id="basic-addon1">URL</span>
            </div>
            <input [(ngModel)]="baseUrl" type="text" name="baseUrlName" class="form-control" placeholder="Base Url" aria-label="Baseurl" aria-describedby="basic-addon1">
          </div>
          <button (click)="setUrl()" type="button" class="btn btn-dark">Save Base Url</button>
          <button (click)="clearUrl()" type="button" class="btn btn-dark">Remove Base Url</button>

<br><br>
      <form #loginForm="ngForm">
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text login-input-side-badges" id="basic-addon1">Net</span>
            </div>
            <input ngModel required type="text" name="email" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <input ngModel required type="password" name="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
              <div class="input-group-prepend">
                <span class="input-group-text login-input-side-badges" id="basic-addon1">Flicks</span>
              </div>
          </div>

          <button (click)="onSubmit(loginForm)" [disabled]="loginForm.invalid" type="button" class="btn btn-dark btn-block">Login</button>
      </form>

    </div>
  </div>
</ion-content>
