
.card-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.login-button-size {
    font-size: 1.2rem;
    font-weight: bolder;
    // height: 2rem;
}

@keyframes slideyThing {
    from {background-position:-900px}
    to {background-position:0px}
  }
  
  #gradient {
    background: linear-gradient(90deg, #222, white, #222);
    // opacity:1;   
    // color:transparent;
    // -webkit-background-clip:text;    
    animation: slideyThing 5s infinite linear;
  }

  .custom-anchor {
    // margin-top: 1rem;
    color: #117aca;
    font-weight: bolder;
    height: 3rem;
  }

  ion-spinner {
    --color: var(--net-darker-red-color);
  }