<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <net-genre-poster 
  [imageUrl]="genre?.displayImg"
  ></net-genre-poster>

  <net-genre-dashboard
  [title]="genre?.title"
  [description]="genre?.description"
  ></net-genre-dashboard>

  <!-- <net-genre-slider
      [title] = "'Trending'"
      [genreList] = "homepageInitial.TRENDING"
      (genreSelected) = "genreSelected($event)"
      ></net-genre-slider> -->


</ion-content>
