<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="ios-arrow-back" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title (click)="routeToHome()">
      NETFLICKS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <net-genre-poster 
  [imageUrl]="genre?.displayImg"
  [genre]="genre"
  ></net-genre-poster>

  <net-genre-dashboard
  [title]="genre?.title"
  [description]="genre?.description"
  (watchNow)="watchNow()"
  ></net-genre-dashboard>

  <net-genre-slider
      [title] = "'Similar'"
      [genreList] = "similarGenres"
      (genreSelected) = "genreSelected($event)"
      ></net-genre-slider>


</ion-content>
