.custom-poster {
    max-height: 25rem;
    margin: 0;
    height: auto;

   

    img {
        height: auto;
    }

    ion-row {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
    }

    ion-col {
        display: flex;
        align-items: center;
        flex-direction: column;

        ion-icon {
            font-size: 2.3rem;
    color: red;
        }
    }
}

.custom-wrapper {
    height: -webkit-fill-available;
    width: 100%;
    position: absolute;
}

.video-player {
    height: auto;
    width: 100%;
}

.icon-wrapper {
    border: 1px solid red;
    border-radius: 5px;
    background: black;
    opacity: 0.6;
    width: 5rem;
    height: 3rem;
}