<ion-card [ngClass]="!isStartedPlaying ? 'custom-poster' : ''" class="ion-no-padding">

  <ion-row *ngIf="!isPlaying">
    <ion-col size="5"></ion-col>
    <ion-col size="2" (click)="playPause()">
      <ion-icon name="play"></ion-icon>
    </ion-col>
    <ion-col size="5"></ion-col>
  </ion-row>

  <img *ngIf="!isStartedPlaying" [src]="imageUrl" />

  <video *ngIf="isStartedPlaying" id="video" class="video-js vjs-default-skin video-player" controls preload="none" data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
    <source [src]="url" type='video/mp4' /> Sorry, your browser does not support HTML5 video.
  </video>

</ion-card>