<ion-app>
  <!-- <ion-split-pane contentId="main-content"> -->
    <ion-menu side="start" [disabled]="checkStatus()" contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list class="ion-no-padding" *ngIf="role === 'USER'">
          <ion-menu-toggle auto-hide="true">
            <ion-item [routerLink]="['/home']">
              <ion-icon slot="start" name="timer" class="poster-dashboard-icons"></ion-icon>
              <ion-label>
                Home
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="true">
            <ion-item (click)="toggleTheme()">
              <ion-icon slot="start" name="color-wand" class="poster-dashboard-icons"></ion-icon>
              <ion-label>
                Toggle Theme
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="true">
            <ion-item [routerLink]="['/about']">
              <ion-icon slot="start" name="ios-person" class="poster-dashboard-icons"></ion-icon>
              <ion-label>
                About
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="true">
            <ion-item (click)="logout()" [routerLink]="['']" routerDirection="backward">
              <ion-icon slot="start" name="timer" class="poster-dashboard-icons"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list class="ion-no-padding" *ngIf="role === 'ADMIN'">
          <ion-menu-toggle auto-hide="true">
            <ion-item [routerLink]="['/admin']">
              <ion-icon slot="start" name="timer" class="poster-dashboard-icons"></ion-icon>
              <ion-label>
                Home
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="true">
            <ion-item (click)="toggleTheme()">
              <ion-icon slot="start" name="color-wand" class="poster-dashboard-icons"></ion-icon>
              <ion-label>
                Toggle Theme
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="true">
            <ion-item (click)="logout()" [routerLink]="['']" routerDirection="backward">
              <ion-icon slot="start" name="timer" class="poster-dashboard-icons"></ion-icon>
              <ion-label>
                Dash
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet animated="true" id="main-content"></ion-router-outlet>
  <!-- </ion-split-pane> -->
</ion-app>
