<net-header [title]="'NETFLICKS'"></net-header>


<ion-content>
  <div id="outer">

    <div id="inner_fixed">
      <div class="display-flex justify-content-center align-items-center cust-height-100prcnt" id="warpper-div">
        <h3 class="ml5 about-animation-body-color">
          <span class="text-wrapper">
            <span class="line line1 about-animation-background-color"></span>
            <span class="letters letters-left">PRAT</span>
            <span class="letters ampersand"></span>
            <span class="letters letters-right">HEEK</span>
            <span class="line line2 about-animation-background-color"></span>
          </span>
        </h3>
      </div>
      <div>

        <div class="display-flex justify-content-center align-items-center custom-margin-tworem">
          <div class="animated infinite pulse delay-4s color-yellow">pratheeklondhe2014@gmail.com</div>
        </div>

        <div class="display-flex justify-content-center align-items-center custom-margin-onerem">
          <div class="animated infinite rubberBand delay-4s color-yellow">+918139918436</div>
        </div>

      </div>
    </div>


    <ion-card id="inner_remaining" class="trans-prop">

      <div class="into_the_void-backgroundImg custom-img-container">

      </div>


      <div class="cardfooter">

        <div>
          <p>
            Hi, This is PRATHEEK. A Full Stack web dEv !. This Project is a part of learning in my journey of excelling MEAN stack!!
            Checkout my portfolio at
          </p>

        </div>
      </div>

    </ion-card>




  </div>

</ion-content>