<net-header [title]="'NETFLIX'" ></net-header>

<ion-content>


    <net-genre-slider
      [title] = "'Trending'"
      [genreList] = "homepageInitial.TRENDING"
      (genreSelected) = "genreSelected($event)"
      ></net-genre-slider>

      <net-genre-slider
      [title] = "'Adventure'"
      [genreList] = "homepageInitial.ADVENTURE"
      (genreSelected) = "genreSelected($event)"></net-genre-slider>

      <net-genre-slider
      [title] = "'Adventure'"
      [genreList] = "homepageInitial.ADVENTURE"
      (genreSelected) = "genreSelected($event)"></net-genre-slider>

</ion-content>