
.custom-icon-modal {
    margin-right: 1rem;
}

.font-size-14rem {
    font-size: 1.4rem;
}

.custom-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2rem;
}

.custom-fields {
    width: 100%;
    border: 1px solid red;
    background: yellow;
    margin-top: 1rem;
}