<ion-grid class="ion-no-padding card-shadow">

  <ion-row>
    <ion-col size="8" (click)="isDescriptionExpanded = !isDescriptionExpanded">
      <ion-text> {{ title }} </ion-text>
    </ion-col>
    <ion-col size="2" class="align-items-center vertical-center-margin larger-size">
      <ion-icon class="poster-dashboard-icons" name="heart"></ion-icon>
    </ion-col>
    <ion-col size="2" (click)="downloadGenre()" class="align-items-center vertical-center-margin larger-size">
      <ion-icon class="poster-dashboard-icons" name="download"></ion-icon>
    </ion-col>
  </ion-row>

</ion-grid>

<div 
*ngIf="isDescriptionExpanded"
 class="ion-no-padding genre-descrptn card-shadow">

 
 <p><ion-text>{{ description }} 
</ion-text></p>
<!-- <ion-row>
  <ion-col size="0.5"></ion-col>
  <ion-col size="11">
    <ion-text> <p>{{ description }} </p></ion-text>
  </ion-col>
  <ion-col size="0.5"></ion-col>
</ion-row> -->

</div>
